*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(40, 185, 137);
}

:root {
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;

  --background: var(--white);
  --accent: var(--black);
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}
